body {
    background-color: #235347;
}
.nav {
    background-image: url("../images/bac.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;

    width: 96vw;
    height: 15vh;
    margin: auto;
    border-radius: 15px;
    margin-bottom: 5px;
    border: 1px solid #163832;
}
ul {
    list-style-type: none;
    margin-right: 11%;
    overflow: scroll;
    z-index: 1;
}
li {
}

li a {
    text-decoration: none;
    text-wrap: inherit;
    font-family: monospace;
    font-size: 20px;
    color: #051f20;
}
.cls {
    margin-top: 5px;
    border: 1px solid #051f20;
    border-radius: 15px;
    height: 15vw;
    text-align: center;
}
.imgw {
    width: 6vh;
    height: 6vw;
    margin-top: 16px;
}
.amdd {
    display: inline;
    width: 22.3vw;
    height: 15.2vh;

    position: fixed;
    top: 8px;
    left: 76%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.content {
    background-color: #8eb69b;
    margin: auto;
    height: 80vh;
    overflow: scroll;
    padding-right: 5px;
    border-radius: 10px;
}
.uln {
    display: flex;
    overflow: none;
}
.lin {
    color: #ddeee3;
    text-shadow:
        1px 2px 5px #163832,
        2px 2px 5px #53232d;

    margin-right: 40px;
    font-size: 40px;
    font-family: monospace;
    float: left;
    animation: ani 2s linear;
}
/*
#daf1de
#8eb69b
#235347
#163832
#0b2b26
#051f20
*/

@keyframes ani {
    0% {
        transform: translateY(-50px);
    }
    25% {
        text-shadow:
            1px 2px 5px #53232c,
            2px 2px 5px #53232d;
        color: #235347;
    }
    50% {
        text-shadow:
            1px 2px 5px #53232c,
            2px 2px 5px #53232d;
        color: #0d745b;
    }
    75% {
        text-shadow:
            1px 2px 5px #53232c,
            2px 2px 5px #53232d;
        color: #235347;
    }
    100% {
        text-shadow:
            1px 2px 5px #53232c,
            2px 2px 5px #53232d;
        color: #163832;
    }
}
